<h1 class="page-header text-center">Offers</h1>

<div class="container">
  <% if @offers_response.count == 0 %>
    <div class="row">
      <div class="col-xs-12">
        <div class="alert alert-info">
          <p>No offers available</p>
        </div>
      </div>
    </div>
  <% else %>
    <div class="alert alert-info">Displaying <%= h(@offers_response.count) %> offers (Page <%= h(@current_page) %> of <%= h(@offers_response.pages) %>)</div>
    <% @offers_response.offers.each do |offer| %>
      <div class="row">
        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
          <img class="img-responsive img-thumbnail" src="<%= offer["thumbnail"]["lowres"] %>" alt="<%= h(offer["title"]) %>" />
        </div>
        <div class="col-xs-9 col-sm-10 col-md-10 col-lg-11">
          <h4><%= h(offer["title"]) %></h4>
          <p>Payout: <%= "#{h(offer["payout"])} #{h(@offers_response.currency)}" %></p>
        </div>
      </div>
      <hr />
    <% end %>
  <% end %>
</div>
